// Brand Colours (Raw)

$brand-primary: #211122;
$brand-primary-light: #3613CA;
$brand-primary-dark: #0A050A;

$brand-secondary: #62120C;
$brand-secondary-light: #78160F;
$brand-secondary-dark: #4A0E09;

$brand-tertiary: #973A1C;
$brand-tertiary-light: #AD4320;
$brand-tertiary-dark: #803118;

$brand-neutral-100: #FFFFFF;
$brand-neutral-300: #BFBFBF;
$brand-neutral-500: #808080;
$brand-neutral-700: #404040;
$brand-neutral-900: #000000;