// Hero section

section {
    padding: 80px 0;
}

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
}

// Bullet row

.bullets-section {
    .icon {
        width: 48px;
    }
    .icon-pad {
        padding: 60px 0 0;
    }
}

// Cards section

.cards-section {
    .card-padding {
        padding: 60px 0;
    }
}

// Icon list section

.icon-list-section {
    .list-icon {
        width: 80px;
    }
    .icon-padding {
        padding: 60px 0 0;
    }
}

// Image left, text right

.img-left-text-right {
    .img-left {
        width: 100%;
        height: 530px;
        object-fit: cover;
    }
    .content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// Icons left, image right

.icons-left-img-right {
    .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-right {
        width: 100%;
        height: 530px;
        object-fit: cover;
    }
    .list-icon {
        width: 48px;
    }
    p {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}

@media only screen and (max-width: 600px) {
    
    .title-pad {
        padding: 0 0 30px;
    }

    .bullets-section {
        .icon-pad {
            padding-top: 30px;
        }
    }
}

