// Hero section

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* key part */
    z-index: -2;
  }
}

// Bullet row

.bullets-section {
    padding: 80px 0;
    .icon {
        width: 48px;
    }
    .icon-pad {
        padding: 60px 0;
    }
}

// Cards Section

.cards-section {
    padding: 80px 0;
    .card-padding {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 600px) {
    
    .title-pad {
        padding: 0 0 30px;
    }

    .bullets-section {
        .icon-pad {
            padding: 30px 0;
        }
        .icon-cta {
            padding: 30px 0 0;
        }
    }
}

