// Hero section

section {
    padding: 80px 0;
}

.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .hero-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
}

// Bullet row

.bullets-section {
    background-color: $brand-primary-dark;
    color: $brand-neutral-100;
    .icon {
        width: 48px;
    }
    .icon-pad {
        padding: 60px 0 0;
    }
}

// Cards section

.cards-section {
    background-color: $brand-primary;
    color: $brand-neutral-100;
    .card-padding {
        padding: 60px 0;
    }
}

// Icon list section

.icon-list-section {
    background-color: $brand-primary-dark;
    color: $brand-neutral-100;
    .list-icon {
        width: 80px;
    }
    .icon-padding {
        padding: 60px 0 0;
    }
}

// Image left, text right

.img-left-text-right {
    background-color: $brand-primary-dark;
    color: $brand-neutral-100;
    .img-left {
        width: 100%;
        height: 530px;
        object-fit: cover;
    }
    .content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// Icons left, image right

.icons-left-img-right {
    background-color: $brand-primary-dark;
    color: $brand-neutral-100;
    .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-right {
        width: 100%;
        height: 530px;
        object-fit: cover;
    }
    .list-icon {
        width: 48px;
    }
    p {
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
    }
}

// Map location

.map-section {
    height: 350px;
}

// Testimonials Section

.testimonials-section {
    background-color: $brand-primary-dark;
    color: $brand-neutral-100;
    .testimonial-card {
        background-color: $brand-tertiary-light;
        border: 1px solid $brand-neutral-100;
    }
    .avatar {
        width: 48px;
        height: 48px;
        background-color: $brand-neutral-100;
        border-radius: 50%;
    }
    .carousel-control-prev, 
    .carousel-control-next {
        opacity: 1;
        z-index: 5;
    }
    .carousel-item .row {
        display: flex;
        align-items: stretch;
    }
}

@media only screen and (max-width: 600px) {
    
    .title-pad {
        padding: 0 0 30px;
    }

    .bullets-section {
        .icon-pad {
            padding-top: 30px;
        }
    }
}

