.header {
    background-color: $brand-primary;
    .nav-item:not(.contact-btn):before {
        content: "";
        position: absolute;
        width: 0;
        background: $brand-tertiary-light;
        left: 45%;
        height: 3px;
        bottom: 0;
        transition: all .3s;
    }
    .nav-item:not(.contact-btn):hover:before {
        width: 100%;
        left: 0;
    }
    .contact-btn {
        cursor: pointer;
        overflow: hidden;
        transition: color 0.3s
    }
    .navbar-brand {
        img, .custom-logo {
            height: 50px;
            width: auto;
            object-fit: contain;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media only screen and (min-width: 991px) {

    .header {
        .contact-btn {
            position: relative;
            z-index: 1;
            border: 3px solid $brand-tertiary-light;
            padding: 10px 30px;
            background: transparent !important;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $brand-tertiary-light;
                z-index: -1;
                transform: translateX(-101%);
                transition: transform 0.3s cubic-bezier(0.7, 0, 0.3, 1);
            }

            &:hover {
                .nav-link {
                    color: $brand-primary !important;
                }
                &:after {
                    transform: translateX(0);
                }
            }

            .nav-link {
                position: relative;
                z-index: 2; 
                padding: 0;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .header {
        .contact-btn {
            border: none;
            padding: 0;
            position: relative; 

            &:before {
                content: "";
                position: absolute;
                width: 0;
                background-color: $brand-tertiary-light;
                left: 45%;
                height: 3px;
                bottom: 0;
                transition: all .3s;
            }

            &:hover:before {
                width: 100%;
                left: 0;
            }

            &:hover {
                background-color: transparent;
            }
        }
    }
}